.home {
    .home-profile {
        .home-title {
            font-weight: 500;
            font-size: 50px;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
    }
}

.header-title {
    font-weight: 500;
    font-size: 1.9rem !important;
}