@import "shortcodes/testimonial";

.home {
    .home-profile {
        .home-title {
            font-family: $special-font-family;
            font-weight: 500;
            font-size: 50px;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
    }
}

.header-title {
    font-weight: 500;
    font-size: 1.9rem !important;
}


.page.archive {
    @extend .home, [posts];
    .summary .single-title {
        text-align: left;
    }
}

.single .single-subtitle {
    font-style: unset;
    font-size: 1.15rem;
}