.testimonial {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
}

.testimonial .image-container {
    width: 25%;
    text-align: center;
    flex-basis: content;
    flex-shrink: 0;
    margin-right: 20px;
}

.testimonial img {
    border-radius: 42%;
    width: 150px;
    border-style: solid;
    margin: 0;
}

.testimonial .content {
    width: 75%;
    word-break: break-word;

    .stars {
        margin-top: 15px;
        font-size: 33px;
        text-align: center;

        span + span {
            margin-left: 10px;
        }

        span.golden {
            color: goldenrod;
        }

        span.fa-award {
            color: darkgoldenrod;
        }

        .fa-stack {
            font-size: 22px;
            height: 2.3em;
            line-height: 2.1em;
            margin-left: 5px;
        }
    }
}