{{- $inner := .Inner | .Page.RenderString -}}
{{- $image := .Get "image" | default .Site.Params.home.profile.avatarURL -}}
{{- $imageAlt := .Get "imageAlt" | default "Avatar" -}}
{{- $golden := or (.Get "gold") (.Get "golden") | default false -}}
{{- $special := .Get "special" | default false -}}
{{- $title := "" -}}
{{- $stars := 0 -}}

{{- if .IsNamedParams -}}
    {{- $stars = .Get "stars" | default 0 -}}
    {{- $title = .Get "title" -}}
{{- else -}}
    {{- $stars = .Get 0 | default 0 -}}
    {{- $title = .Get 1 -}}
{{- end -}}

<div class="testimonial">
    <div class="image-container">
        <img src="{{ $image }}" alt="{{ $imageAlt }}" />
    </div>
    <div class="content">
        {{- if $title -}}
            <h2>{{ $title }}</h2>
        {{- end -}}
        <p>{{ $inner }}</p>
        {{- if ne $stars 0 -}}
            <div class="stars">
                {{- range $i, $sequence := (seq 5) -}}
                    {{- $s := (add $i 1) -}}
                    {{- if or (lt $s $stars) (eq $s $stars) -}}
                        {{- if and ($golden) (eq $s $stars) -}}
                            <span class="fas fa-star golden"></span>
                        {{- else if and ($special) (eq $s $stars) -}}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-award"></span>
                        {{- else -}}
                            <span class="fas fa-star"></span>
                        {{- end -}}
                    {{- else if lt $s (add $stars 1) -}}
                        <span class="fas fa-star-half-alt"></span>
                    {{- else -}}
                        <span class="far fa-star"></span>
                    {{- end -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</div>